
Examples/iAdPlus.xcodeproj/project.xcworkspace/xcuserdata/
Examples/iAdPlus.xcodeproj/xcuserdata/pj.xcuserdatad/xcschemes/iAdPlus.xcscheme

Examples/iAdPlus.xcodeproj/xcuserdata/pj.xcuserdatad/xcschemes/xcschememanagement.plist
